/** Restaurant Component Styling **/

.restaurant {
  height: 100%;
  width: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 15px;
}

.loading {
  text-align: center;
  font-size: large;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.restaurante-item:hover {
  transform: scale(1.1);
}
.restaurante-item:active {
  background-color: #c1c1c1;
}

h1 {
  text-align: center;
}
